<div class="row marketing" style="margin-bottom:0px;">
	<div class="col-lg-7"></div>
	<div class="col-lg-5 text-right"><span class="bg-success" style="padding:5px;border-radius:5px;">Jobs <%= @start %> to <%= @start.to_i + 10 %> of <%= @totalCount %></span></div>
</div>